body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

h3{ 
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}
section div {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   gap:20px;
}

img {
    width: 400px;
  
}
p {
   text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3{
    text-align: center; 
}
article img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
article {
    text-align: center;
    width: 420px;
    height: 600px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
}
section {
    text-align: center;
    background-color: rgb(170, 206, 255);
}
header {
    text-align: center;
    background-color: rgb(191, 218, 255);
}
body {
    background-color: rgb(225, 242, 255);
    color: rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
article:hover {
    background-color: rgb(181, 216, 237);
    transform:translateY(-5px)
}
header nav a{
    text-decoration: none;
}
header nav a:hover{
    color: rgb(0, 3, 160);
    text-decoration: underline;
}